menu "Template Base Board"

choice BOARD_TYPE
    prompt "Board type"
    default BOARD_NEW_BOARD

    config BOARD_NEW_BOARD
        bool "new_board"
endchoice

config BOARD_NAME
    string
    default "new_board" if BOARD_NEW_BOARD

endmenu
